.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  /* background: #f5f7fb; */
  background: linear-gradient(rgb(8, 55, 208), rgb(31, 172, 193));
  background: linear-gradient(rgb(9, 115, 236), rgb(244, 247, 248));
}

.card {
  width: 100%;
  max-width: 350px;
  /* background: #ffffff; */
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 20px 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  /* border: 1px solid orangered; */
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin: 0 0 8px;
  color: #111827;
}

.subtitle {
  margin: 10px 0;
  color: #313744;
  font-size: 14px;
  line-height: 1.5;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: #374151;
}

.input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #d1d5db;
  border-radius: 12px;
  font-size: 12px;
  outline: none;
  background: #fff;
}

.input:focus {
  border-color: #2563eb;
}

.login_btn button {
  width: 100%;
  padding: 10px 12px;
  border: none;
  border-radius: 12px;
  background: green !important ;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.error {
  color: #dc2626;
  font-size: 14px;
  margin: 0;
}

.footer {
  margin-top: 5px;
  font-size: 14px;
  color: #6b7280;
  text-align: center;
}

.link {
  color: #2563eb;
  font-weight: 600;
  text-decoration: none;
}
.refersh_info {
  font-size: x-small;
  margin-bottom: -10px;
  line-height: 1.5;
}
/* Responsive enhancements for larger screens */
@media (min-width: 768px) {
  .wrapper {
    padding: 40px 20px;
  }

  /* .card {
    padding: 32px;
  } */

  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 16px;
  }

  .form {
    gap: 7px;
  }

  .input {
    padding: 16px 18px;
    font-size: 18px;
  }

  .button {
    padding: 16px 18px;
    font-size: 18px;
  }
}

.link:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  /* .card {
    padding: 32px;
  } */

  .title {
    font-size: 32px;
  }
}
